/* General CSS applying to all pages*/

h1{
    font-family: 'Lexend Zetta', sans-serif;
}

h2{
    font-family: 'Lexend Zetta', sans-serif;
    color: rgb(45, 45, 45);
    font-size: 1.2em;
}

h3{
    font-family: 'Jura', sans-serif;

}

h4{
    font-family: 'Barlow', sans-serif;
    margin-bottom: 2px;
}

main{
    margin-left: 8%;
    margin-right: 8%;
}

main p{
    font-family: 'Barlow', sans-serif;
    margin: 1px;
    overflow: hidden;
}

body{
    display: block;
    margin: 0;
    background-color: #daf1de;
}

head{
    cursor: url(./Clear\ logo.png), default;
}

/* CSS applying to the navigation bar at the top of each page */
header{
    max-width:100%;
    height:100px;
    display:flex;
    z-index: 9000;
    background-color: rgb(94, 94, 94);
    z-index: 10000;
    padding: 5px;
    margin-bottom: 1px;
    box-shadow: 0px 4px 2px #21562a;
}

.animation{
    height: 100%;
    display: flex;
    vertical-align: center;
}

.logotext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    overflow:hidden;
    width: 100%;

}

.logotext h1{
    font-size: 0.8em;
    padding-bottom: 0;
    margin: 0;
}

.logotext h2{
    font-size: 0.6em;
    padding-top: 5px;
    margin: 0;
}

nav.bannerbuttons{
    width: 100%;
    color:black;

    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    display: none;
}

.bannerbuttons a{
    display: none;
    justify-content:space-evenly;
    color: rgb(255, 255, 255);
    text-decoration: none;
    animation-duration: 300ms;
    font-size: 1em;
    font-family: 'Jura', sans-serif;
}

.bannerbuttons a:hover{
    color: #3fa752;
    text-shadow: 2px 2px 2px black;

}

div.imagelink{
    height:250px;
    width:400px;
    position:relative;
    text-align: center;
    margin: 10px 5px 10px;
}

.navpic{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    overflow-y:visible;
}

/* Interactive navigation buttons */

.blurbutton{
    display: flex;
    flex-direction: row;
    background-color: rgb(54, 54, 54);
    padding: 20px;
}

.navpic:hover{
    filter: blur(5px);
    z-index: 7000;
    transition-duration: 300ms;
}

.imageid{
    text-align: center;
    position: absolute;
    pointer-events: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(104, 66, 217);
    z-index: 8000;
    left: 0;
    right: 0;
}

/* The text tags associated with the HB menu */

.imagetitle{
    top: 10%;
    z-index: 8000;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2em;
}

.imagedesc{
    top: 55%;
    font-family: 'Jura', sans-serif;
    color: white;
    font-family: 'Jura', sans-serif;

}

/* GIF animation */

.frame{
    content: url(./Assets/ClearLogo.png);
    max-width:100px;
    height: auto;
    
}

.frame:hover{
    content: url(./Assets/Clear\ logo2.gif);
}

.emphasis{
    color: aqua;
}

/* Hamburger menu */
    /* Icon and invisible checkbox*/

.hbmenu{
    display: flex;
    min-width: 50px;
    flex-direction: column;
    justify-content: space-around;
    right: 0;
    text-align: center;
}

.hbmenu input{
    display: none;
}

.hbmenu label{
    color: white;
    font-size: 1.5em;

}

.hbmenu label i:hover{
    color: grey;
    text-shadow: 2px 2px 2px black;
}

.hbelements a{
    color: white;
    text-decoration: none;
}

.hbelements a:hover{
    color: #3fa752;
    text-shadow: 2px 2px 2px black;

}

.hbelements label{
    color: aliceblue;
}

.hbelements label:hover{
    color: #3fa752;
    text-shadow: 2px 2px 2px black;
}

#hbcheck:checked ~ .hbelements{
    display: flex;
}

/* Open hamburger menu with navigation links */
.hbelements{
    position:absolute;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(105, 105, 105, 0.805);
    text-align: center;
    justify-content: space-evenly;
    z-index: 11000;
    display: none;
    font-family: 'Jura', sans-serif;
    font-size: 3em;
}

/*For the footer*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px;
    padding-bottom: 10px;
    bottom: 0px;
    background-color: #21562a;
}

footer section{
    margin-left: 10px;
}

footer section p,footer section h3,footer section a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px #3fa752;
    font-family: 'Jura', sans-serif;
}

footer section p{
    margin: 0px 5px 0px 5px;
    padding: 2px;
}

.footersocials{
    display: flex;
    flex-direction: column;
}

.footersocials a i{
    font-size: 20px;
    padding: 5px;
}

footer section a:hover{
    color: #3fa752;
}

/* For the index page*/

.frontpageimg{
    width: 90%;
    max-width: 350px;
    height: auto;
    margin: 10px;
    margin-top: 20px;
    min-width: 200px;
}

.topimages{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.undertitle{
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    margin: 70px 0px 20px;

    text-shadow:2px 2px 2px #66cf7793;
}

.topimage{
    width: 50%;
    min-width: 100px;
    height: auto;
    padding: 10px;
}

.indexmuseumpics{
    display: flex;
    flex-direction: row;
    margin: 70px 5px 70px 5px;
    justify-content: space-evenly;
}

.indexmuseumpics img{
    min-width: 45%;
    height: auto;
    margin: 3px;
    max-width: 300px;
}

.exibitandeventsbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 45px ;
    margin-bottom: 80px;
}

.exibitandeventsbuttons a{
    width: 45%;
    background-color: #21562a;
    border-radius: 20px;
    padding: 35px 0px;
    border: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Lexend Exa', sans-serif; 
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.408);
    
}

.exibitandeventsbuttons a:hover{
    background-color: #3fa752;
    color: black;
    transition-duration: 200ms;
    box-shadow: none;
}
/*For the About page*/
.aboutuspage h3{
    font-size: 1.5em;
}

.faqmapimg{
    float: none;
    margin: 0;
    z-index: 500;
}

.faqmapimg a img{
    max-width: 300px;
    min-width: 170px;
    width: 35vw;
}

.faqvolunteer h4{
    color: #21562a;
}

/*For the Exibitions page*/
.fotogalleri img:hover{
    filter: blur(8px);
    transition-duration: 200ms;
}

.fotogalleri{
    display: flex;
    flex-direction: column;
}

.fotogalleri p{
    margin: 0px 20px 20px 20px;
}

.fotogalleri h3{
    margin-left: 20px;
}

.fotogalleri figure{
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
    background-color: rgba(0, 0, 0, 0.072);
}

.museumimage{
    display: none;
    max-width: 40%;
    height: fit-content;
}

.fotogalleri figure figcaption{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: left;
    margin: 5px;
}

.fotogalleri figure:hover{
    background-color: rgba(0, 0, 0, 0.253);
}

.museumimagephone{
    display: block;
    width: 60%;
    max-width: 270px;
    align-self: center;
}

/*For the events page*/

.newphoto{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    margin-top: 20px;

}

.event h3{
    text-align: center;
}

.event{
    display: block;
    background-color: rgba(0, 0, 0, 0.072);
    margin: 10px;
    padding: 10px;
}

.event:hover{
    background-color: rgba(0, 0, 0, 0.253);
}

.event p{
    margin-bottom: 20px;
}

.event h4{
    text-align: center;
    margin: 4px 4px 10px 4px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*Media Queries etc*/
@media screen and (min-width: 500px){
    .logotext h1{
        font-size: 1.4em;
        max-width: 330px;
    }
    .logotext h2{
        font-size: 1.2em;
        max-width: 330px;
    }
    
    footer{
        flex-direction: row;
    }

    .faqmapimg{
        position: relative;
        top: 10%;
        float: right;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px){
    .bannerbuttons a{
        display: flex;
    }
    header{
        height:100px;
    }

    .hbmenu label i{
        display: none;
    }

    nav.bannerbuttons{
        display: flex;
    }

    .hbmenu{
        display: none;
    }

    .museumimage{
        display: block;
    }

    .museumimagephone{
        display: none;
    }

    .frontpageimg{    
        float: right;
    }

    .event{
        display: flex;
        flex-direction: row;
    }

    .newphoto{
        width: 400px;
        padding-left: 15px;
        margin-top: 0px;
    }

}


@media screen and (min-width: 1000px){

    p{
        font-size: 20px;
    }

    h1{
        font-size: 3em;
    }

    h2{
        font-size: 2em;
    }

    h3{
        font-size: 1.9em;
        font-weight: 800;

    }

    .bannerbuttons a{
        font-size: 1.5em;
    }

    nav.bannerbuttons{
        max-width: 55%;
    }

    .logotext{
        width: fit-content;
    }

    .logotext h1{
        max-width: 350px;
    }
    .logotext h2{
        max-width: 350px;
    }

    .fotogalleri p{
        font-size: 1.3em;
    }

    .fotogalleri h3{
        font-size: 2em;
    }

    .event p{
        font-size: 1.2em;
    }

    .event h3{
        font-size: 2em;
    }

    .welcome h1{
        text-align: center;
    }
    .aboutuspage h3{
        font-size: 2.3em;
    }
}
